.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 0 10px;
  grid-auto-rows: 10px;
  padding-bottom: 20px; }
  .image-list .image-card {
    cursor: pointer;
    margin: 0 auto;
    display: block;
    width: fit-content;
    height: fit-content;
    background-color: white;
    box-shadow: 0 3px 8px rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(0, 138, 162, 0.4);
    border-radius: 5px;
    transition: .2s; }
    .image-list .image-card.selected:hover {
      transform: scale(1.005); }
    .image-list .image-card.selected:active {
      transform: scale(1); }
    .image-list .image-card .tags {
      position: relative; }
      .image-list .image-card .tags P {
        position: absolute;
        text-align: center;
        width: calc(100% + 4px);
        padding: 5px;
        letter-spacing: .6px;
        word-spacing: 1px;
        font-size: 1em;
        background-color: rgba(0, 138, 162, 0.6);
        border-radius: 4px 4px 0 0;
        text-shadow: 0 0 1px #191919;
        color: white;
        margin: -2px; }
        .image-list .image-card .tags P:empty {
          padding: 0; }
    .image-list .image-card img {
      width: 100%;
      opacity: 0; }
    .image-list .image-card:hover {
      transform: scale(1.02);
      transition: .2s; }
    .image-list .image-card:active {
      transform: scale(1); }

@media only screen and (max-width: 991px) {
  .image-list .image-card .tags p {
    font-size: 1.1em; }
  .image-list .image-card:hover {
    transform: scale(1.01);
    transition: .2s; }
  .image-list .image-card:active {
    transform: scale(1); } }
