.ui.segment {
  border: 2px solid rgba(0, 138, 162, 0.7);
  background-color: rgba(25, 25, 25, 0.7);
  box-shadow: 0 3px 7px rgba(255, 255, 255, 0.3); }
  .ui.segment .ui.form .field label {
    text-align: center;
    font-size: 1.2em;
    color: gainsboro;
    padding-bottom: 10px; }
  .ui.segment .ui.form .field input {
    background-color: gainsboro;
    color: #191919;
    font-size: 1.2em;
    padding: 10px;
    font-weight: 900;
    border: 2px solid transparent; }
    .ui.segment .ui.form .field input:focus {
      border: 2px solid rgba(0, 138, 162, 0.7);
      transition: .4s ease; }
