body {
  position: absolute;
  width: 100%;
  background-color: rgba(25, 25, 25, 0.8); }

.App {
  position: fixed;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(circle at 50% 0%, #008aa2 500px, white 501px, white 505px, transparent 506px, transparent 100%), url("../content/images/textured-background.png");
  width: 100%;
  height: -webkit-fill-available; }
  .App::-webkit-scrollbar {
    width: 20px; }
  .App::-webkit-scrollbar-thumb {
    background: rgba(0, 138, 162, 0.3);
    border-radius: 4px; }
    .App::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 138, 162, 0.4); }
    .App::-webkit-scrollbar-thumb:active {
      background: rgba(0, 138, 162, 0.5); }
