body {
  position: absolute;
  width: 100%;
  background-color: rgba(#191919, .8);
}

.App {
  position: fixed;
  overflow-y: auto;
  background-color: rgba(black, .5);
  background-image: radial-gradient(circle at 50% 0%, #008aa2 500px, white 501px, white 505px, transparent 506px, transparent 100%),
  url('../content/images/textured-background.png');
  width: 100%;
  height: -webkit-fill-available;

  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(#008aa2, .3);
    border-radius: 4px;

    &:hover {
      background: rgba(#008aa2, .4);
    }

    &:active {
      background: rgba(#008aa2, .5);
    }
  }
}
